:root {
  --primary: #08aeea;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  overflow-x: hidden;
  background-color: #f5f6f7;
  font-weight: 300;
  font-size: 1.4rem;
}

strong {
  font-weight: bold;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "SF Mono";
  src: url("../fonts/SF-Mono-Regular.otf") format("otf");
}
@font-face {
  font-family: "SF Mono Light";
  src: url("../fonts/SF-Mono-Light.otf") format("otf");
}
.container {
  max-width: 1920px;
  padding: 0 2rem;
  margin: 0 auto;
}
.point-none {
  pointer-events: none;
  user-select: none;
}
