:root {
  --primary: #455af7;
  --secondary: #13d2b8;
  --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd;
  --danger: #e74c3c;
  --green: #00e7af;
  --gray: #333;
  --font: "Poppins", sans-serif;
  --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
  --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  overflow-x: hidden;
  background-color: white;
  font-weight: 300;
  font-size: 14px;
  overflow-anchor: none;
  scroll-behavior: smooth;
  line-height: 1.4;
}
body::-webkit-scrollbar {
  display: none;
  width: 0;
}

strong {
  font-weight: 600;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "SF Mono";
  src: url("../fonts/SF-Mono-Regular.otf") format("otf");
}
@font-face {
  font-family: "SF Mono Light";
  src: url("../fonts/SF-Mono-Light.otf") format("otf");
}
.container {
  max-width: 1920px;
  padding: 0 2rem;
  margin: 0 auto;
}
.point-none {
  pointer-events: none;
  user-select: none;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
