.e-flex-item {
  height: 50px;
  border-radius: 8px;
  background-color: #a2cbfa;
  border: 1px solid #4390e1;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgb(0 90 250 / 5%), 0 4px 4px rgb(0 90 250 / 5%),
    0 8px 8px rgb(0 90 250 / 5%), 0 16px 16px rgb(0 90 250 / 5%);
}
.header-logo {
  display: block;
  max-width: 100px;
  margin: 0 auto 20px;
}
